<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bing.blocks5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name="com.bing.blocks5.Blocks5App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.bing.blocks5.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bing.blocks5.ui.loginAuth.LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:label="验证码登录"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bing.blocks5.ui.loginAuth.RegisterActivity"
            android:theme="@style/AppTheme.Dark"
            android:label="注册"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bing.blocks5.ui.loginAuth.ForgetPwdActivity"
            android:theme="@style/AppTheme.Dark"
            android:label="忘记密码"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bing.blocks5.ui.loginAuth.RegisterNextActivity"
            android:theme="@style/AppTheme.Dark"
            android:label="下一步"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bing.blocks5.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bing.blocks5.album.AlbumActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"/>
        <activity android:name="com.bing.blocks5.base.WebActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden"/>
        <activity android:name="com.bing.blocks5.ui.main.ScanBarCodeActivity"
            android:screenOrientation="portrait"
            android:label="扫描二维码"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.bing.blocks5.ui.activity.AddActivityActivity"
            android:screenOrientation="portrait"
            android:label="创建活动"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.bing.blocks5.ui.user.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="个人资料"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.bing.blocks5.ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:label="设置" />
        <activity android:name="com.bing.blocks5.ui.setting.IdentityActivity"
            android:screenOrientation="portrait"
            android:label="实名认证" />
        <activity android:name="com.bing.blocks5.ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.bing.blocks5.ui.user.UserDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bing.blocks5.ui.activity.ActivityDetailActivity"
            android:screenOrientation="portrait"
            android:label="活动详情"/>
        <activity android:name="com.bing.blocks5.ui.activity.HowSignInActivity"
            android:screenOrientation="portrait"
            android:label="如何签到"/>
        <activity android:name="com.bing.blocks5.ui.common.GalleryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Gallery"/>
        <activity android:name="com.bing.blocks5.ui.activity.CreatedActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bing.blocks5.ui.activity.JoinActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bing.blocks5.ui.activity.CreatedListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bing.blocks5.ui.activity.JoinListActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.bing.blocks5.ui.activity.SignUpListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.user.FavouriteActivity"
            android:screenOrientation="portrait"
            android:label="收藏"/>
        <activity android:name=".ui.user.HistoryActivity"
            android:screenOrientation="portrait"
            android:label="历史"/>
        <activity android:name=".ui.user.FollowOrFansActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.OtherCityActivity"
            android:label="其他城市"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.setting.FeedBackActivity"
            android:label="意见反馈"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.ActivityMessageActivity"
            android:screenOrientation="portrait" />


        <!-- ShareSDK 开始 -->
        <meta-data android:name="Mob-AppKey"  android:value="f9983bc0b02a"/>
        <meta-data android:name="Mob-AppSecret" android:value="f9983bc0b02a"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104964322"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- ShareSDK 结束 -->

        <provider
            android:name="com.bing.blocks5.album.provider.CameraFileProvider"
            android:authorities="${applicationId}.album.camera.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/album_camera_provider"/>
        </provider>

        <!-- 高德定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a31f89ba29fcc3f4a2c898134a4453d0"/>
        <service android:name="com.amap.api.location.APSService"/>
        <!-- 高德定位结束 -->

    </application>

</manifest>
